### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import locale
locale.setlocale(locale.LC_ALL, '')

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
school_data_complete.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [3]:
# total number of schools
count_schools = school_data_complete['school_name'].nunique()
count_schools

15

In [4]:
# total number of students
count_students = school_data_complete['Student ID'].nunique()
count_students1 = '{:,}'.format(count_students)
count_students1

'39,170'

In [5]:
# total budget
budget_schools = school_data_complete[["school_name", "budget"]]
budget_schools
df = budget_schools.groupby(["school_name"])
budget = df.mean()
total_budget = budget["budget"].sum()
total_budget1= locale.currency(total_budget, grouping=True)
total_budget1

'$24,649,428.00'

In [6]:
# average Maths score
ave_maths_score = school_data_complete['math_score'].mean()
ave_maths_score

78.98537145774827

In [7]:
# average Reading score
ave_reading_score = school_data_complete['reading_score'].mean()
ave_reading_score

81.87784018381414

In [8]:
# % passing Maths
passed_maths = len(school_data_complete[school_data_complete.math_score >= 70])
passed_maths_pp = passed_maths/count_students * 100
passed_maths_pp

74.9808526933878

In [9]:
# % passing Reading
passed_reading = len(school_data_complete[school_data_complete.reading_score >= 70])
passed_reading_pp = passed_reading/count_students * 100
passed_reading_pp

85.80546336482001

In [10]:
# % overall passing
reading = school_data_complete.loc[school_data_complete['reading_score'] >= 70, :]
math = reading.loc[reading['math_score'] >= 70, :]
math.head()
passed_both = len(math['Student ID'])
overall_passing = passed_both/count_students * 100
overall_passing

65.17232575950983

In [11]:
# summary
summary = [{'Total Schools' : count_schools,
            'Total Students' : count_students1,
            'Total Budget' : total_budget1,
            'Average Math Score': ave_maths_score,
            'Average Reading Score' : ave_reading_score,
            '% Passing Math' : passed_maths_pp,
            '% Passing Reading' : passed_reading_pp,
            '% Overall Passing': overall_passing}
            ]
summary_table = pd.DataFrame(summary)
summary_table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [12]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [13]:
# school name
# school type
school_data_complete1 = school_data_complete.rename(columns={"type" : "School Type"})
summary_table = school_data_complete1.groupby(["school_name", "School Type"])

In [14]:
# total students
total_students = summary_table["Student ID"].count()

In [15]:
# total school budget
total_budget = summary_table["budget"].mean()

In [16]:
# per student budget
student_budget = summary_table["budget"].mean()/summary_table["Student ID"].count()

In [17]:
# average maths score
ave_maths = summary_table["math_score"].mean()

In [18]:
# average reading score
ave_reading = summary_table["reading_score"].mean()

In [19]:
# % Passing Math
passed_maths = school_data_complete.loc[school_data_complete["math_score"]>=70].groupby("school_name")["Student ID"].count()/ total_students * 100

In [20]:
# % Passing Reading
passed_reading = school_data_complete.loc[school_data_complete["reading_score"]>=70].groupby("school_name")["Student ID"].count()/ total_students * 100

In [21]:
# % Overall Passing
passed_both = school_data_complete.loc[(school_data_complete["math_score"]>=70) & (school_data_complete["reading_score"]>=70)].groupby("school_name")["Student ID"].count()/ total_students * 100

In [22]:
# create summary dataframe
school_summary = pd.DataFrame({"Total Students" : total_students,
                               "Total School Budget" : total_budget,
                               "Per Student Budget" : student_budget,
                               "Average Math Score" : ave_maths,
                               "Average Reading Score" : ave_reading,
                               "% Passing Math" : passed_maths,
                               "% Passing Reading" : passed_reading,
                               "% Overall Passing" : passed_both})

In [23]:
# format / mapping
school_summary["Total School Budget"] = school_summary["Total School Budget"].map("${:,.2f}".format)
school_summary["Per Student Budget"] = school_summary["Per Student Budget"].map("${:,.2f}".format)
school_summary

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,School Type,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [24]:
top_performing = school_summary.sort_values(["% Overall Passing"], ascending = False)
top_performing

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,School Type,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [25]:
least_performing = school_summary.sort_values(["% Overall Passing"], ascending = True)
least_performing

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,School Type,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769

## Math Scores by Grade

* Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [26]:
# get size range
print(school_summary["Per Student Budget"].max())
print(school_summary["Per Student Budget"].min())

$655.00
$578.00

In [27]:
# create bins and labels 
spending_bins = [0, 585, 630, 645, 675]
spending_labels = ["<$584", "$585-629", "$630-644", "$645-675"]

In [43]:
# place the data series into a new column inside of the DataFrame

per_student = school_data_complete["budget"] / school_data_complete["Student ID"].count()
school_data_complete["student_budget"] = per_student
school_data_complete["spending_group2"] = pd.cut(school_data_complete["student_budget"], spending_bins, labels=spending_labels)
by_spending = school_data_complete.groupby("spending_group2")

In [44]:
# average maths and reading scores
total_students_spending = by_spending["Student ID"].count()
ave_maths_spending = by_spending["math_score"].mean()
ave_reading_spending = by_spending["reading_score"].mean()

In [45]:
# % passing maths score, reading score and overall scores
passed_maths_spending = school_data_complete.loc[school_data_complete["math_score"]>=70].groupby("spending_group2")["Student ID"].count()/ total_students_spending * 100 
passed_reading_spending = school_data_complete.loc[school_data_complete["reading_score"]>=70].groupby("spending_group2")["Student ID"].count()/ total_students_spending * 100 
passed_both_spending = school_data_complete.loc[(school_data_complete["math_score"]>=70) & (school_data_complete["reading_score"]>=70)].groupby("spending_group2")["Student ID"].count()/ total_students_spending * 100

In [40]:
# scores by school size table
by_spending_summary = pd.DataFrame({"Average Math Score" : ave_maths_spending,
                               "Average Reading Score" : ave_reading_spending,
                               "% Passing Math" : passed_maths_spending,
                               "% Passing Reading" : passed_reading_spending,
                               "% Overall Passing" : passed_both_spending})
by_spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
spending_group2,,,,,
<$584,78.985371,81.87784,74.980853,85.805463,65.172326
$585-629,NaN,NaN,NaN,NaN,NaN
$630-644,NaN,NaN,NaN,NaN,NaN
$645-675,NaN,NaN,NaN,NaN,NaN

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# get size range
print(school_data_complete["size"].max())
print(school_data_complete["size"].min())

In [ ]:
# create bins and labels 
size_bins = [0, 999, 2000, 5001]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# place the data series into a new column inside of the DataFrame
school_data_complete["size_group"] = pd.cut(school_data_complete["size"], size_bins, labels=size_labels)
by_size = school_data_complete.groupby("size_group")

In [ ]:
# average maths and reading scores
ave_maths_size = by_size["math_score"].mean()
ave_reading_size = by_size["reading_score"].mean()

In [ ]:
# % passing maths score, reading score and overall scores
total_students_size = by_size["Student ID"].count()
passed_maths_size = school_data_complete.loc[school_data_complete["math_score"]>=70].groupby("size_group")["Student ID"].count()/ total_students_size * 100 
passed_reading_size = school_data_complete.loc[school_data_complete["reading_score"]>=70].groupby("size_group")["Student ID"].count()/ total_students_size * 100 
passed_both_size = school_data_complete.loc[(school_data_complete["math_score"]>=70) & (school_data_complete["reading_score"]>=70)].groupby("size_group")["Student ID"].count()/ total_students_size * 100

In [ ]:
# scores by school size table
by_size_summary = pd.DataFrame({"Average Math Score" : ave_maths_size,
                               "Average Reading Score" : ave_reading_size,
                               "% Passing Math" : passed_maths_size,
                               "% Passing Reading" : passed_reading_size,
                               "% Overall Passing" : passed_both_size})
by_size_summary

## Scores by School Type

* Perform the same operations as above, based on school type

In [ ]:
df = school_data_complete.rename(columns={"type" : "School Type"})
by_type = df.groupby(["School Type"])

In [ ]:
# average maths and reading scores
ave_maths_type = by_type["math_score"].mean()
ave_reading_type = by_type["reading_score"].mean()

In [ ]:
# % passing maths score, reading score and overall scores
total_students_type = by_type["Student ID"].count()
passed_maths_type = school_data_complete.loc[school_data_complete["math_score"]>=70].groupby("type")["Student ID"].count()/ total_students_type * 100 
passed_reading_type = school_data_complete.loc[school_data_complete["reading_score"]>=70].groupby("type")["Student ID"].count()/ total_students_type * 100 
passed_both_type = school_data_complete.loc[(school_data_complete["math_score"]>=70) & (school_data_complete["reading_score"]>=70)].groupby("type")["Student ID"].count()/ total_students_type * 100

In [ ]:
# scores by school type table
by_type_summary = pd.DataFrame({"Average Math Score" : ave_maths_type,
                               "Average Reading Score" : ave_reading_type,
                               "% Passing Math" : passed_maths_type,
                               "% Passing Reading" : passed_reading_type,
                               "% Overall Passing" : passed_both_type})
by_type_summary